@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


body{
    font-family: "Azeret Mono", monospace;
   
}

.btn-1{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
}

/* start with banner section */
.banner-container{
    min-height: 582px;
    max-width: 1536px;
    background-image: url(/images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 74px;
    
}

.banner{ 
    text-align: center; 
}

.ban-ttitle{
    color: rgb(13, 19, 33);
    
}
.ban-pic{
    margin: 32px;
}
.ban-des{ font-family: Azeret Mono;
    margin: 24px 0 32px;
    color: rgb(72, 79, 93);
    Font weight: 400;
    Font size: 16px;
    Align: center;

}

.why-web-container{ 
    margin-top: 74px;
    margin-bottom: 88px;
    border: 2px solid red;
    /* background-color: rgba(13, 19, 33, 0.02); */
    background-color: rgb(86, 70, 70);
    border-radius: 16px;
}
 

.first-sec{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.why-web{ border: 2px solid yellow;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}
   
    /* justify-content: center;
} */

.why-des{

}
.why-des{
    Font: Azeret Mono
Font weight: 400;
Font size: 16px;
Align:center;
}

/* current-target-container */
.current-container{
    width: 1140px;
    height: 863px;
    margin: 0 auto;
    margin: 150px;
    border: 3px solid red;
}

.current-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;  
  border: 3px solid red;
 
}

.support{
    border: 3px solid red;
 
}

.skill{

}

.insp-container{ 
   
    height: 650px;
    width: 1140px;
    margin: 0 auto;
    
}

.insp-title{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}

.insp-des{
    width: 70%;
    text-align: center;
    color:rgb(86, 70, 70);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;

}

.video-container{
    border: 2px solid red;
    width: 600px;
height: 350px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 0 auto;

}

.footer{
    display:inline-flex;
}