@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
   
}

/* shared styles */

.para{
    font-size: 16px;
    color: rgb(13, 19, 33,0.7);

}

.par2{
    font-size: 16px;
    color: rgb(13, 19, 33,0.7);

}


.banner-btn {
    background-color: #0d1321;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
  }

  .primary-btn {
    color: #0d1321;
    border: 1px solid #0d1321;
    padding:12px 18px;
    border-radius: 3px;
  } 

.text-center{
    text-align: center;
}

/* start with banner section */
.banner-container{
    min-height: 582px;
    max-width: 1536px;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 74px;
    
}

.banner{ 
    text-align: center; 
}

.ban-ttitle{
    color: rgb(13, 19, 33);
    
}
.ban-pic{
    margin: 32px;
}
.ban-des{ font-family: Azeret Mono;
    margin: 24px 0 32px;
    color: rgb(72, 79, 93);
    Font-weight: 400;
    font-size: 16px;
    text-align: center;

}

/* why web development styles starts here */

.web-dev-sec{
  max-width: 1140px;
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  margin: 0 auto;
   
}   

.why-dev-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.why-dev-sec {
    margin-top: 40px;
    
  }
  .why-dev-detail > h1 {
    margin: 20px;
  }
  /* <!-- why web-dev cards style start --> */
  
  .why-dev-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 80px 87px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px 0px rgba(54, 53, 53, 0.4);
    width: 1140px;
  }
  
  .why-dev-card-detail > h1 {
    margin-bottom: 20px;
  }
  .why-dev-card-details > p {
    margin-bottom: 20px;
  }
  

/* why web development styles ends here */


.insp-container{ 
   
    height: 650px;
    width: 1140px;
    margin: 0 auto;
    }

.insp-title{
   
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}

.insp-des{
    width: 70%;
    text-align: center;
    color:rgb(86, 70, 70);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.inspiration-video {
    background-color: rgba(154, 202, 235, 0.363);
    border: 1px solid #dbe1ee;
    border-radius: 10px;
    padding: 50px;
  }


/* my current target section style start */

.current-target {
    margin-bottom: 40px;
  }
  .current-target h1 {
    margin-bottom: 20px;
  }
  .current-target-cards {
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 120px ;
    padding: 20px;
    
  }
  .current-cards-det {
    margin-bottom: 20px;
    padding: 20px;
  }
  .current-cards-det  img {
    margin-bottom: 20px;
  }
  .current-cards-det h3 {
    margin-bottom: 10px;
    font-size: bold;
  }
  .current-cards-det  p {
    margin-bottom: 20px;
  }
  .current-cards-det  a {
    font-size: larger;
    color: #0d1321;
  }
  .html {
    border-radius: 6px;
    background-color: #e6d1cd;
  }
  .css {
    border-radius: 6px;
    background-color: rgb(124, 124, 173);
  }
  .js {
    border-radius: 6px;
    background-color: rgb(177, 223, 159);
  }

.support-container {
    background-image: url(../images/handshake.jpg);
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    padding: 64px 48px;
    width: 1140px;
    background-color: rgba(0, 0, 0, 0.2);
    
  }
  .support-container h1 {
      margin-bottom: 20px;
      color: rgb(255, 255, 255);
  }
  .support-container  p{
      margin-bottom: 20px;
      color: rgb(255, 255, 255, 0.9);
  }
  .support-input {
      padding: 14px 20px;
      background-color: #ffffff;
      border: 1px solid white;
      border-radius: 5px;
      margin: 10px;
      width: 250px;
      height: 10px;
  }

.support-btn {
    padding: 11px 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: bold;
    
}


/* footter style start here */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 32px 150px;
    
  }

