@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


body{
    font-family: "Azeret Mono", monospace;
   
}

.btn-1{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
}

.text-center{
    text-align: center;
}

/* start with banner section */
.banner-container{
    min-height: 582px;
    max-width: 1536px;
    background-image: url(/images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 74px;
    
}

.banner{ 
    text-align: center; 
}

.ban-ttitle{
    color: rgb(13, 19, 33);
    
}
.ban-pic{
    margin: 32px;
}
.ban-des{ font-family: Azeret Mono;
    margin: 24px 0 32px;
    color: rgb(72, 79, 93);
    Font weight: 400;
    Font size: 16px;
    Align: center;

}

.why-web-container{ 
    margin-top: 74px;
    margin-bottom: 88px;
    border: 2px solid red;
    /* background-color: rgba(13, 19, 33, 0.02); */
    background-color: rgb(86, 70, 70);
    border-radius: 16px;
}
 

.first-sec{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.why-web{ border: 2px solid yellow;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}
.why-des{
    Font: Azeret Mono
Font weight: 400;
Font size: 16px;
Align:center;
}

.support{
    border: 3px solid red;
    height: 314px;
    width: 1140px;
    margin: 0 auto;
 }

.insp-container{ 
   
    height: 650px;
    width: 1140px;
    margin: 0 auto;
    }

.insp-title{
   
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}

.insp-des{
    width: 70%;
    text-align: center;
    color:rgb(86, 70, 70);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.video-container{
    border: 2px solid red;
    width: 600px;
height: 350px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 0 auto;

}

/* current-target-container */
.current-container{
   
    height: 650px;
    width: 1140px;
    margin: 0 auto;
}

.current-title-container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 
}

.current-des{
    width: 70%;
    text-align: center;
    color:rgb(86, 70, 70);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;

}
.lm{
    text-decoration: underline;
}

.skills-container{
    display: flex;
    gap: 24px;

}

.support{

    min-height: 314px;
    max-width: 1140px;
    background-image: url(/images/handshake.jpg)
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 74px;
}

.input{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 1084px;
   
}


/* footter style start here */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 50px;
    
  }